.App {
  width:100%;
  height:100%;
  text-align: center;
  background-image: url('./images/l.jpg');
  /* background-repeat: no-repeat; */
  background-size: cover;
  width: 1350px;
  height: 650px;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.quote{
  width:40%;
  height: 20%;
  position: absolute;
  padding: 20px;
  box-shadow: 0 4px 8px black;
}
.quote:hover .button-transform{
  animation: shake;
 animation-duration: 3s;
}
@keyframes shake {
  0% { transform: skewY(-3deg); }
  5% { transform: skewY(3deg); }
  10% { transform: skewY(-3deg); }
  15% { transform: skewY(3deg); }
  20% { transform: skewY(0deg); }
  100% { transform: skewY(0deg); }
}
.advise{
  height: 100px;
}
 @media only screen and (max-width:920px){
 .App{
    width:100%;
  }
  .quote{
    width:60%;
    height: 30%;
  }
 }
 @media only screen and (max-width:500px){
  .App{
     width:100%;
   }
   .quote{
     width:80%;
     height:40%;
   }
  }
  @media only screen and (max-width:350px){
    .App{
       width:100%;
     }
     .quote{
       width:90%;
       height: 45%;
     }
    }

